body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}
  
.navbar-dark {
    background-color: #17161d; 
}
  
.navbar .container .collapse .nav-item .nav-link{
    /* color: rgb(253, 212, 109); */
    font-size: 20px;
}